{% extends "base.html" %}
{% block title %} 
Login Page
{% endblock %}

{% block content %}
<body> 
    <div class="d-grid gap-2 col-6 mx-auto text-center">         
        <form class="d-grid gap-2 col-6 mx-auto" method="POST">
            {{ form.hidden_tag() }}
            <h4>
            Please Log in to your Account
            </h4>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}


            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
    
            <br>

            {{ form.submit(class="btn btn-primary") }}
            
            <br>
            <div>
                <h6>
                    <b>Do not have an account?</b>
                </h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register') }}">Register</a>
            </div>
        </form>
          
    </div>
</body> 
{% endblock %}